h1 {
  text-decoration: underline;
  color: maroon;
  text-align: center;
}
h2{
  text-decoration: underline;
  color: blue;
  font-style: italic;
  text-align: left;
}

h3{
  text-decoration: underline;
  font-size: 20px;
  color: purple;
  font-style: italic;
  text-align: left;
}
ol{
  line-height: 40px;
}
.jumbotron{
  width: 100%;
}

.para {
  color: :black;
  font-style: normal;
  font-size: 10;
  font-family: fantasy;
  text-align: right;

}
.img {
  align-self: stretch;
}
