h1 {
  color: blue;
  text-align: center;
}
h2{
  color: red;
  font-style: italic;
  text-align: center;
}
p {
  font-family: sans-serif;
}
ol{
  line-height: 40px;
}
.container {
  color: black;
}
body {
  font-style: normal;
  font-size: 10;
  font-family: sans-serif;
  text-align: right;

}
