h1 {
  text-decoration: underline;
  color: green;
  text-align: center;
}
h2{
  text-decoration: underline;
  color: red;
  font-style: italic;
  text-align: center;
}

ol{
  line-height: 40px;
}

.para {
  color: :black;
  font-style: normal;
  font-size: 10;
  font-family: fantasy;
  text-align: right;

}
.img {
  align-self: stretch;
}
